@import 'variables';

// h1{
//     color: rebeccapurple;
    
// }
// h2{
//     color: $red-color;  
// }

.form-control{
    width: 50%;
    height: auto;
    
}
.huy1{
    line-height: 50px;
   
}